*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial",sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 160, 149)
}
.container{
    width: 500px;
    height: 200px;
    background-color: rgb(225, 225, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 150px;
}
.timer-container{
    margin-bottom: 20px;
}
h3{
    font-size: 30px;
    color: black;
}
.btn-container{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}
button{
    padding: 10px 20px;
    border-radius: 200px;
    background-color:rgb(250, 82, 160) ;
    color: black
    transition: 0.3 ease;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(60, 253, 26);

}
